*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}


body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#pager{
    width: 100%;
    max-width: 913px;
    border: 4px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

#page-output-section{
    font-family: 'Press Start 2P', cursive;
    background-color: #283033;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 794px;
    border-radius: 0.5rem;
}

#pager-screen{
    background-color: #9EC4B3;
    padding: 2rem 0.5rem;
    font-size: 3.1rem;
    color: #000000;
    max-width: 737px;
    width: 100%;
    
}